// FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Doto:wght@100..900&display=swap');

// Brand Colors
$primary-blue: #023047; // Background Dark Blue
$accent-orange: #FB8500; // H1 Color
$accent-yellow: #FFB703; // H2 Color
$light-blue: #8ECAE6; // Paragraph Text Color
$white: #ffffff;

// Typography
$header-font: "Bitcount Ink", system-ui;
$body-font: "Doto", sans-serif;

// Font Weights
$font-weight-bold: 600;

// Spacing (optional, but good practice)
$space-xs: 5px;
$space-md: 25px;